@charset "UTF-8";
.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.\visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header-container {
    height: 80px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.menu-container {
  display: flex;
  background-color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    align-items: center;
  }
}

.button {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__primary {
  color: #000000;
}

.logo__secondary {
  color: #ffffff;
}

.logo__third {
  color: #2196f3;
}

.footer__logo {
  display: inline-block;
}

.page-nav {
  display: flex;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .page-nav {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .page-nav {
    height: 80px;
  }
}

.site-navigation {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .site-navigation {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .site-navigation {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-navigation {
    margin-left: 93px;
  }
}

.site-navigation__item {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .site-navigation__item {
    margin-bottom: 40px;
  }
  .site-navigation__item:last-child {
    margin-bottom: 0px;
  }
}

.site-navigation__item + .site-navigation__item {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .site-navigation__item + .site-navigation__item {
    margin-left: 50px;
  }
}

.site-navigation__link {
  display: block;
  position: relative;
  color: #212121;
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .site-navigation__link {
    font-size: 18px;
    line-height: 1.16;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-navigation__link {
    padding-top: 32px 0;
  }
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #2196f3;
}

.site-navigation__link--current {
  color: #2196f3;
}

.site-navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .site-navigation__link--current::after {
    bottom: 6px;
  }
}

.contact-header {
  display: flex;
  height: 60px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .contact-header {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-header {
    height: 80px;
  }
}

.contact {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    margin-left: 84px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: 271px;
  }
}

@media screen and (max-width: 767px) {
  .contact__item {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: 50px;
  }
}

.contact__link {
  color: #757575;
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact__link.link {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link.link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    display: inline-flex;
    padding: 32px 0;
    align-items: center;
  }
}

.contact__mail-icon,
.contact__phone-icon {
  fill: #757575;
  margin-right: 7px;
}

.contact__link:hover .contact__mail-icon,
.contact__link:focus .contact__mail-icon {
  fill: #2196f3;
}

.contact__link:hover .contact__phone-icon,
.contact__link:focus .contact__phone-icon {
  fill: #2196f3;
}

.menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.menu-button:hover .icon-close,
.menu-button:focus .icon-close,
.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-content {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .box-footer {
    margin-bottom: 60px;
  }
}

.box-footer:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .box-footer:not(:last-child) {
    margin-right: 70px;
  }
}

.location-footer {
  margin-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 1200px) {
  .location-footer {
    display: flex;
    width: 231px;
  }
}

.location-footer__text,
.location-footer__link {
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.7;
  text-decoration: none;
}

.location-footer__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-footer__link:last-child {
  margin-bottom: 0;
}

.box-socseti {
  display: block;
}

.box-socseti__title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;
}

.social-footer {
  display: flex;
  padding: 0;
  margin-top: 20px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .social-footer {
    justify-content: flex-start;
  }
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #2196f3;
}

.social-footer-link:hover .social-footer__icon,
.social-footer-link:focus .social-footer__icon {
  fill: #ffffff;
}

.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/*оформление form в footer*/
.footer-form {
  padding-top: 0;
  padding-bottom: 60px;
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-form__title-form {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-form__input {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .footer-form__input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

/* оформление кнопки в footer */
.footer-form__btn-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
  border: 0;
  font-weight: 400;
}

.footer-form__btn-footer::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url(../images/icons/send.svg);
  background-size: contain;
}
/*# sourceMappingURL=general.css.map */