@charset "UTF-8";
.html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  font-family: inherit;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.\visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__primary {
  color: #000000;
}

.logo__secondary {
  color: #ffffff;
}

.logo__third {
  color: #2196f3;
}

.footer__logo {
  display: inline-block;
}

.page-nav {
  display: flex;
  height: 60px;
}

@media screen and (max-width: 767px) {
  .page-nav {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .page-nav {
    height: 80px;
  }
}

.site-navigation {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .site-navigation {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .site-navigation {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-navigation {
    margin-left: 93px;
  }
}

.site-navigation__item {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .site-navigation__item {
    margin-bottom: 40px;
  }
  .site-navigation__item:last-child {
    margin-bottom: 0px;
  }
}

.site-navigation__item + .site-navigation__item {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .site-navigation__item + .site-navigation__item {
    margin-left: 50px;
  }
}

.site-navigation__link {
  display: block;
  position: relative;
  color: #212121;
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .site-navigation__link {
    font-size: 18px;
    line-height: 1.16;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-navigation__link {
    padding-top: 32px 0;
  }
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #2196f3;
}

.site-navigation__link--current {
  color: #2196f3;
}

.site-navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .site-navigation__link--current::after {
    bottom: 6px;
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.solution {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  /* height: 600px; */
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/solution-section/img/mobile-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .solution {
    background-image: url("../images/solution-section/img/mobile-header@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .solution {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/solution-section/img/tablet-header.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .solution {
    background-image: url("../images/solution-section/img/tablet-header@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .solution {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/solution-section/img/desktop-header.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .solution {
    background-image: url("../images/solution-section/img/desktop-header@2x.jpg");
  }
}

.solution__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .solution__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.solution__btn-primary {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  font-weight: 700;
  line-height: 1.9;
  text-align: center;
  text-decoration: none;
  text-align: center;
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #757575;
  font-weight: 400;
  line-height: 1.71;
}

.features__features-icon {
  display: block;
  text-align: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  margin-bottom: 30px;
}

.features__icon-antenna,
.features__icon-clock,
.features__icon-diagram,
.features__icon-astronaut {
  width: 70px;
  height: 70px;
  fill: #212121;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work {
  padding-top: 0;
  text-align: center;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.works__item:nth-child(3n) {
  margin-right: 0px;
}

.works__thumb {
  position: relative;
  margin: 0;
}

.works__thumb > .works__label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 83%);
  font-weight: 700;
  line-height: 1.64;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.ours-teams {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .ours-teams {
    display: flex;
    flex-wrap: wrap;
  }
}

.ours-teams__item {
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .ours-teams__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .ours-teams__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .ours-teams__item:nth-child(2n) {
    margin-right: 0;
  }
  .ours-teams__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ours-teams__item {
    width: calc((100% - 90px)/4);
    margin-right: 30px;
  }
  .ours-teams__item:last-child {
    margin-right: 0px;
  }
}

.ours-teams__title {
  margin-top: 30px;
  margin-bottom: 0px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.ours-teams__text {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.costumer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .costumer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.costumer__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .costumer__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.costumers {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .costumers__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .costumers__item:nth-child(2n) {
    margin-right: 0;
  }
  .costumers__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .costumers__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .costumers__item:nth-child(3n) {
    margin-right: 0;
  }
  .costumers__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .costumers__item {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
  }
  .costumers__item:last-child {
    margin-right: 0;
  }
}

.costumers__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumers__link {
  fill: #AFB1B8;
}

.costumers__link:hover .costumers__icon,
.costumers__link:focus .costumers__icon {
  fill: #2196f3;
}

.costumers__link:hover,
.costumers__link:focus {
  border: 1px solid #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-content {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .box-footer {
    margin-bottom: 60px;
  }
}

.box-footer:not(:last-child) {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .box-footer:not(:last-child) {
    margin-right: 70px;
  }
}

.location-footer {
  margin-top: 20px;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 1200px) {
  .location-footer {
    display: flex;
    width: 231px;
  }
}

.location-footer__text,
.location-footer__link {
  margin-top: 0;
  margin-bottom: 9px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.7;
  text-decoration: none;
}

.location-footer__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-footer__link:last-child {
  margin-bottom: 0;
}

.box-socseti {
  display: block;
}

.box-socseti__title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;
}

.social-footer {
  display: flex;
  padding: 0;
  margin-top: 20px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .social-footer {
    justify-content: flex-start;
  }
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: #2196f3;
}

.social-footer-link:hover .social-footer__icon,
.social-footer-link:focus .social-footer__icon {
  fill: #ffffff;
}

.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/*оформление form в footer*/
.footer-form {
  padding-top: 0;
  padding-bottom: 60px;
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-form__title-form {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-form__input {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .footer-form__input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

/* оформление кнопки в footer */
.footer-form__btn-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
  border: 0;
  font-weight: 400;
}

.footer-form__btn-footer::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url(../images/icons/send.svg);
  background-size: contain;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.3);
}

@media screen and (min-width: 768px) {
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 40px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1 solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
}

.close-icon {
  fill: #000000;
}

.close-icon:hover .close-icon,
.close-icon:focus .close-icon {
  fill: #2196f3;
}

/*оформление модального окна*/
/* Стилизация form */
/* заголовок form */
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

/*оформление данных (form) */
.form__label {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form_input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form_input:focus {
  border-color: #2196f3;
}

.form_input:focus + .form__icon {
  fill: #2196f3;
}

.form__icon {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* оформление коментария(form) */
.comment-form {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form__textarea::placeholder {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 768px) {
  .form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.14;
  }
}

/*оформление чекбоксов (form) */
.form__checkbox {
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .form__checkbox {
    font-size: 14px;
    line-height: 1.7;
  }
}

.checkbox {
  display: block;
  margin-top: 20px;
}

.form__checkbox-icon {
  content: '';
  margin-left: 0px;
  margin-right: 5px;
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  border: 2px solid #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form__checkbox-icon {
    margin-left: 12px;
  }
}

.form__custom:checked + .form__checkbox-icon {
  background-color: #2f303a;
  border-radius: 2px;
  border-color: #2196f3;
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox-link {
  color: #2196f3;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .form__checkbox-link {
    font-size: 14px;
    line-height: 1.7;
  }
}

/* Оформление кнопки btn-form */
.form__btn-form {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  background-color: #188CE8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-width: 0;
  font-weight: 700;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */