.costumer {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.costumer__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $title-text-color;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  text-align: center;  

@media screen and (min-width:1200px) {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}
}

.costumers {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.costumers__item {
  @media screen and (max-width:767px){
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n){
      margin-right: 0;
    }

    &:nth-last-child(-n+2){
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:768px) and (max-width:1199px){
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n){
      margin-right: 0;
    }

    &:nth-last-child(-n+3){
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:1200px){
    width: calc((100% - 150px) / 6);
    margin-right: 30px;

    &:last-child{
      margin-right: 0;
    } 
  }
}


.costumers__link {
  display: inline-flex;
  align-items: center; 
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid $link-color;
  border-radius: 4px;

  transition: opacity 250ms $transition-time;
}



.costumers__link {
  fill: $link-color; 

}

.costumers__link:hover .costumers__icon,
.costumers__link:focus .costumers__icon {
  fill: $primary-bg-color;
}

.costumers__link:hover, 
.costumers__link:focus {  
  border: 1px solid $primary-bg-color;
}