.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfol {
  margin:0;
  padding: 0;
}


.menu {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
  

  

  @media screen and (min-width:480px) and (max-width:1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width:768px){
    justify-content: center;
  }

  @media screen and (min-width:1200px) {
    margin-bottom: 50px;
    
  }
}

.menu__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (max-width:767px) {
    margin-bottom: 15px;
  }
}



.btn-secondary {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;

  color: $title-text-color;
  background-color: $secondary-bg-color;
  border: 1px solid transparent;

  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  text-align: center;

  transition: opacity 250ms $transition-time;

}

.btn-secondary:hover,
.btn-secondary:focus {
  color: $text-color;
  background-color: $accent-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}