.backdrop {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $backdrop-color;
  opacity: 1;
  overflow-y: scroll;

  transition: opacity 250ms $transition-time;
}

.backdrop.is-hidden {
  visibility: hidden; 
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(1.3);

  @media screen and (min-width:768px) {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

