.page-header {
  position: relative;

  background-color: $text-color;

  border-bottom: 1px solid $bottom-color;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding-top: 16px;
  padding-bottom:16px;

  @media screen and (min-width:768px){
    height:80px;
    padding-top:24px ;
    padding-bottom: 25px;
  }
}

.menu-container {
  display: flex;
  background-color: $text-color;
  text-align: center;

  @media screen and (max-width:767px) {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width:768px) {
    align-items: center;
  }

}


