.page-nav {
  display: flex;
  height: 60px;

  @media screen and (max-width:767px) {
    display: inline-block;
  }
  
  @media screen and (min-width:768px){ 
    height: 80px;
    
  }
}

.site-navigation {
  @media screen and (max-width:767px){
    margin-bottom: 0px;

  }
  padding: 0;
  margin: 0;
  @media screen and(min-width:768px){
  display: flex;
  align-items: center;
  margin-left: 88px ;
  }

  @media screen and (min-width:1200px){
    margin-left:93px;
  }
}

.site-navigation__item {
  margin-bottom: 0px;
  @media screen and (max-width:767px) {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0px;
      }
  }
}

.site-navigation__item+.site-navigation__item {
  margin-left: 0;
  @media screen and (min-width:768px) {
  margin-left: 50px;
  }
}

.site-navigation__link {
  display: block;
  position: relative;
  color: $title-text-color;
  padding: 40px 0;

  @media screen and (max-width:767px) {
    font-size: 18px;
    line-height: 1.16;
    padding: 0;
  }

  @media screen and (min-width:768px) {
    padding-top: 32px 0;
  }
}
  


.site-navigation__link:hover,
.site-navigation__link:focus {
  color: $accent-color;

}

.site-navigation__link--current {
  color: $accent-color;
}

.site-navigation__link--current::after{
  position: absolute;
  left: 0;
  bottom: -8px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;

  @media screen and (min-width:768px) {
    bottom: 6px;
  }
}